.container-fluid {
    background-color: #5DC8CD;
    padding-bottom: 15em;
}
.description{
    padding: 2em;
}
.description h2{
    color: 	#006064;
}
.description h4{
    color: 	#006064;
}
.p-1{
    margin-bottom: 3em;
}
.container-fluid textarea {
    height: 12em;
    width: 17em;
    color: #006064;
    border-color: white;
    border-radius: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 20px;
    text-align: center;
}
.container-fluid textarea::placeholder{
    color:#006064;
    text-align:center;
    font-size: 20px;
}
.container-fluid textarea:hover{
    border-color: #006064;
    background-color: powderblue;
    box-shadow: 0 0 10px #006064;
    outline: none;
}
.container-fluid canvas{
    height: 400;
    background-color: white;
    width: 400;
    border-radius: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 20px;
    text-align: center;
}
.container-fluid canvas:hover{
    border-color: #006064;
    background-color: powderblue;
    box-shadow: 0 0 10px #006064;
    outline: none;
}
.container-fluid .btn{
    background-color: powderblue;
    border-color: #006064;
    color: #006064;
    height: 5em;
    font-size: 16px;
}
.container-fluid .translate{
    border-color: #006064;
    color: #006064;
    
    width: 50px;
    height: 40px;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    padding-bottom: 0;
    background-size: cover;
}
.container-fluid .btn:hover{
    background-color: #006064;
    border-color: #5DC8CD;
    color: #5DC8CD;
}
.tabs>#text-input, #additional-info, #audio-player1, #audio-player2, #header_for_kanji_info, #found_kanji, #drawkanji-canvas, #buttons, #output, #img_str{
    /* скрыть контент по умолчанию */
    display: none;
}
.tabs {
    text-align: -webkit-center;
 }

.tabs>input[type="radio"] {
    display: none;
}
.container-fluid .tabs>label {
    color: #006064;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: powderblue;
    border: 1px solid #006064;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    padding: 3px;
    padding-bottom: 0;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    color: #5DC8CD;
    background-color: #006064;
    border-bottom: 1px solid powderblue;
}
#tab-btn-1:checked~#text-input,
#tab-btn-1:checked~#additional-info,
#tab-btn-1:checked~#audio-player1,
#tab-btn-2:checked~#drawkanji-canvas,
#tab-btn-2:checked~#header_for_kanji_info,
#tab-btn-2:checked~#found_kanji,
#tab-btn-2:checked~#buttons, 
#tab-btn-3:checked~#output,
#tab-btn-3:checked~#audio-player2,
#tab-btn-4:checked~#img_str{
  display: block;
}
.container-fluid .tabs>label:hover{
    border-color: #5DC8CD;
    background-color: #006064;
    color: #5DC8CD;
}
#drawkanji-clear-button,
#drawkanji-back-line-button{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    background-color: powderblue;
    border: 1px solid #006064;
    color: #006064;
    font-size: 16px;
    border-radius: 10px;
}
#buttons{
    margin-top: 1em;
}
.container-fluid #drawkanji-clear-button:hover,
.container-fluid #drawkanji-back-line-button:hover{
    border-color: #5DC8CD;
    background-color: #006064;
    color: #5DC8CD;
}
#useless-tab-btn{
    display: none;
}
#useless-tab-btn-label{
    display: -webkit-box;
}
.no-scroll{
    position: fixed;
}
#additional-info {
    font-size: 20px; 
    color: #006064;
    text-align: center; 
    height: 20px;
}
.audio-player {
    position: relative;
}
.audio-player audio {
    display: none; /* Скрываем стандартные элементы управления */
}
.play-button {
    cursor: pointer;
    width: 20px; /* Ширина значка */
    height: 20px; /* Высота значка */
    background: url('../volume.png') no-repeat center center; /* Путь к вашему значку */
    background-size: contain; /* Масштабируем значок */
    float: inline-end;
    margin-right: 10px;
}
#audio-player2{
    margin-top: 20px;
}
#microphone {
    cursor: pointer;
    width: 20px; /* Ширина значка */
    height: 20px; /* Высота значка */
    background: url('../microphone.png') no-repeat center center; /* Путь к вашему значку */
    background-size: contain; /* Масштабируем значок */
    float: inline-end;
    margin-right: 10px;
    border: none;
}
#microphone.active {
    background-color: #006064; /* Красный цвет при нажатии */
    color: white;
  }
    background: url('volume.png') no-repeat center center; /* Путь к вашему значку */
    background-size: contain; /* Масштабируем значок */
    float: inline-end;
    margin-right: 1em;
}

@media (max-width: 768px) {
    #useless-tab-btn-label{
        display: none;
    }
}
@media (min-width: 992px) {
    .container-fluid textarea{
        font-size: 24px;
    }
    .container-fluid textarea::placeholder{
        font-size: 24px;
    }
    .container-fluid .btn{
        font-size: 20px;
    }
    .container-fluid canvas{
        font-size: 24px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}